<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container">
        <a class="navbar-brand fw-bold" href="{{ path('app_home') }}">🎓 SchoolPrepar</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navMenu">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_filiere_index') }}">Filières</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_etablissement_index') }}">Établissements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link btn btn-outline-light ms-2 px-3" href="#">Connexion</a>
                </li>
            </ul>
        </div>
    </div>
</nav>