<!DOCTYPE html>
<html>
<head>

<title>SchoolPrepar</title>

</head>

<body>

<nav>

<a href="/">Accueil</a> |
<a href="/filieres">Filières</a>

</nav>

<hr>

{% block body %}

{% endblock %}

</body>

</html>